body {
    padding: 70px 40px 70px 40px;
    background-color: $purple;
    background-image: url('/images/bg-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    line-height: 1.3;
    font-family: $font-body;
    font-size: 16px;
    
    

    @media (min-width: 640px) {
        padding: 60px 80px 40px 80px;
        background-image: url('/images/bg-desktop.svg') 
        
    }
}

main {
    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

.heroImage { 
    @media (min-width: 1024px) {
    }
    img {
        width: 100%;
    }
}

.heroText {
     @media (min-width: 1024px) {
        padding-left: 60px;
    }
    p {
        line-height: 1.75;
    }
}
h1 {
    font-family: $font-title;
    font-weight: 600;
    font-size: 32px;
}